.census {
  margin-bottom: .5em;
  
  &__data {
    text-align: left;
  }

  &__number {
    background-color: #efefef;
    padding: 0 5px;

    &--num {
      font-weight: bold;
      margin-bottom: .2em;
    }
    &--description {
      font-size: .9em;
    }
  }
}