.census {
  margin-bottom: .5em;
  
  &__data {
    text-align: left;
  }

  &__number {
    padding: 0 5px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;

    @media screen and (min-width: 500px) {
      background-color: #efefef;
      text-align: left;
      border: none;
      padding: .25em 1em
    }

    &--num {
      font-weight: bold;
      margin-bottom: .2em;
    }
    &--description {
      font-size: .9em;
    }
  }
}