@import "~bootstrap/scss/bootstrap";
@import "theme";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#root {
  margin: 1em;
  font-family: 'Montserrat', sans-serif !important;
  color: $theme-purple;
}

.App {
  margin: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.summary {
  &__hed {
    margin-top: 0.5em;
    font-weight: bold;

    @media screen and (min-width: 600px) {
      margin-top: 0;
    }
  }
}

.summary__intro {

}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: #000;
  max-width: 300px;
  font-size: 1em;
  z-index: 9;
  pointer-events: none;
}

.mapboxgl-map {
  font-family: 'Montserrat', sans-serif !important;
}

.details {
  margin: 1em 0;
}

.spacer {
  height: 15px;
}

.button-filters {
  display: flex;
}

.filter-table-btn {
  margin-right: .5em;
  background: $btn;
  color: $text-light;
  border: none;
  font-size: 0.8em;

  &:hover, &:focus {
    background: lighten($btn, 30);
    // color: darken($text-light, 70);
  }

  @media screen and (min-width: 500px) {
    font-size: 1em;
  }
}

.rdt_Table {
  font-size: 1.1em;

  .community-mission {
    font-size: .8em;
  }
}

