@import "~bootstrap/scss/bootstrap";
@import "theme";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  margin: 1em;
  font-family: 'Montserrat', sans-serif !important;
  color: $theme-purple;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.App {
  margin: 1em;

  &__subhed {
    font-size: 1em;
  }
}

.map {
  &__subhed {
    font-weight: bold;
    font-size: .95em;
  }
}

.summary {
  &__hed {
    margin: 0.5em 0;
    font-weight: bold;

    @media screen and (min-width: 600px) {
      margin-top: 0;
    }
  }
}

.summary__intro {

}

.tooltip {
  &__hed {
    font-size: 1.2em;
  }
}

// .tooltip {
//   position: absolute;
//   margin: 8px;
//   padding: 4px;
//   background: rgba(0, 0, 0, 0.1);
//   color: #000;
//   max-width: 300px;
//   font-size: 1em;
//   z-index: 9;
//   pointer-events: none;
// }

.legend {
  display: flex;
  margin-bottom: .25em;

  @media screen and (min-width: 768px) {
    margin-bottom: .5em;  
  }

  &__categ {
    margin-right: .55em;
    display: flex;
    align-items: center;

    &--box {
      height: 10px;
      width: 20px;
    }
    &--text {
      font-size: .85em;
      margin-left: .3em;
    }
  }
}

.mapboxgl-map {
  font-family: 'Montserrat', sans-serif !important;
}

.details {
  margin: .5em 0;

  &__hed {
    font-size: 1.2rem;
  }
}

.spacer {
  height: 15px;
}

.button-filters {
  display: flex;
}

.filter-table-btn {
  margin-right: .5em;
  background: $btn;
  color: $text-light;
  border: none;
  font-size: 0.8em;

  &:hover, &:focus {
    background: lighten($btn, 30);
    // color: darken($text-light, 70);
  }

  @media screen and (min-width: 500px) {
    font-size: 1em;
  }
}

.rdt_Table {
  font-size: 1.1em;

  .rdt_TableHead{
    font-size: .95em;
  }

  .expanded {
    &__mission {
      font-size: .8em;
      margin-top: .5em;
    }
  }
}

