@import "~bootstrap/scss/bootstrap";

#root {
  margin: 1em;
}

.App {
  margin: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: #000;
  max-width: 300px;
  font-size: 1em;
  z-index: 9;
  pointer-events: none;
}

.details {
  margin: 1em 0;
}

.spacer {
  height: 15px;
}

.filter-table-btn {
  margin-right: .5em;
}

